.cn-card {
    color: white;
    width: 18%;
    height: 50px;
    margin: 10px 1%;
    display: grid;
    place-items: center;
    font-weight: bold;
    text-transform: uppercase;
}
.cn-card > div {
    text-align: center;
}

.card-red {
    background-color: red;
}
.card-blue {
    background-color: blue;
}
.card-black {
    background-color: black;
}
.card-white {
    background-color: #DDD;
    color: black;
}
.card-gray {
    background-color: gray;
}

#board-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#start-control {
    display: flex;
    justify-content: center;
}

#start-control > button {
    margin: 5px;
}

#next-move-control {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    .cn-card {
        font-size: 12px;
    }
}